profiles {
    local {
        singularity {
            enabled = true
        }

        process {
            container = "jezsw/gramnegmmm"
            $abricate_process.container = "jezsw/abricate"
            $abricate_summarise.container = "jezsw/abricate"
            $kmerresistance_process.memory = '5GB'
        }

        trace.enabled = true
        timeline.enabled = true
        report.enabled = true
    }

    slurm {
        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'slurm'
            container = "/mnt/slurmscratch/singularityIMG/jezsw_gramnegmmm-2018-03-01-d75aaa21ff53.img"
            $abricate_process.container = "/mnt/slurmscratch/singularityIMG/jezsw_abricate-2018-04-16-242b4a25ad12.img"
            $abricate_summarise.container = "/mnt/slurmscratch/singularityIMG/jezsw_abricate-2018-04-16-242b4a25ad12.img"
            $kmerresistance_process.memory = '5GB'
        }

        trace.enabled = true
        timeline.enabled = true
        report.enabled = true
    }

    testingslurm {
        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'slurm'
            container = "/mnt/slurmscratch/singularityIMG/jezsw_gramnegmmm-2018-03-01-d75aaa21ff53.img"
            clusterOptions = "-p testing"
            $abricate_process.container = "/mnt/slurmscratch/singularityIMG/jezsw_abricate-2018-04-16-242b4a25ad12.img"
            $abricate_summarise.container = "/mnt/slurmscratch/singularityIMG/jezsw_abricate-2018-04-16-242b4a25ad12.img"
            $kmerresistance_process.memory = '3.6GB'
        }

        trace.enabled = true
        timeline.enabled = true
        report.enabled = true
    }

}
