process {
    container = "jezsw/gramnegmmm"
    withLabel: abricate { container = "jezsw/abricate" }
    withLabel: amr_finder { container = "oxfordmmm/amr_finder" }
    withName: kmerresistance_process { memory = '5GB' }
}

profiles {
    local {
        singularity {
            enabled = true
        }

        trace.enabled = true
        timeline.enabled = true
        report.enabled = true
    }

    docker {
        docker {
            enabled = true
        }

        trace.enabled = true
        timeline.enabled = true
        report.enabled = true
    }

    slurm {
        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'slurm'
            container = "/mnt/slurmscratch/singularityIMG/jezsw_gramnegmmm-2018-03-01-d75aaa21ff53.img"
            withLabel: abricate { container = "/mnt/slurmscratch/singularityIMG/jezsw_abricate-2018-04-16-242b4a25ad12.img" }
        }

        trace.enabled = true
        timeline.enabled = true
        report.enabled = true
    }

    testingslurm {
        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'slurm'
            container = "/mnt/slurmscratch/singularityIMG/jezsw_gramnegmmm-2018-03-01-d75aaa21ff53.img"
            clusterOptions = "-p testing"
            withLabel: abricate { container = "/mnt/slurmscratch/singularityIMG/jezsw_abricate-2018-04-16-242b4a25ad12.img" }
            withName: kmerresistance_process { memory = '3.6GB' }
        }

        trace.enabled = true
        timeline.enabled = true
        report.enabled = true
    }

}
