profiles {
	local {
		singularity {
			enabled = true
			autoMounts = true
		}

		process {
			container = "/home/jez/singularityIMG/jezsw_gramnegmmm-2018-03-01-d75aaa21ff53.img"
			$abricate_process.container = "/home/jez/singularityIMG/jezsw_abricate-2018-02-14-14ca10acc7e3.img"
			$abricate_summarise.container = "/home/jez/singularityIMG/jezsw_abricate-2018-02-14-14ca10acc7e3.img"
		}

		trace.enabled = true
		timeline.enabled = true
		report.enabled = true
	}

        slurm {
		executor = slurm

                singularity {
                        enabled = true
                        autoMounts = true
                }

                process {
                        container = "/mnt/slurmscratch/singularityIMG/jezsw_gramnegmmm-2018-03-01-d75aaa21ff53.img"
                }

                trace.enabled = true
                timeline.enabled = true
                report.enabled = true
        }
}
